html,
body {
  background-color: #faebd7;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  line-height: 1.5;
  scroll-behavior: smooth;
}

#navbar {
  position: fixed;
  background-color: #c9bdae;
  min-width: 300px;
  width: 300px;
  top: 0px;
  left: 0px;
  height: 100%;
  border-right: solid;
  border-color: #4d4d4d;
}

#main-doc {
  position: absolute;
  margin-left: 300px;
  padding: 20px;
  min-width: 350px;
}

header {
  margin: 10px;
  color: #000000;
  font-weight: bold;
  font-size: 1.6em;
  text-align: center;
}

#main-doc header {
  margin: 0px;
  text-align: left;
}

#navbar ul {
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#navbar li {
  color: #000000;
  border-top: 1px solid;
  position: relative;
  width: 100%;
}

#navbar a {
  display: block;
  padding: 10px 30px;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

section li {
  margin: 10px 0px 10px 0px;
  list-style-type: square;
}

code {
  display: block;
  text-align: left;
  line-height: 2;
  background-color: #c9bdae;
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 20px;
  font-weight: bold;
}

@media (max-width: 600px) {
  #navbar {
    background-color: #c9bdae;
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 290px;
    border: none;
    z-index: 1;
    border-bottom: 2px solid;
    text-align: center;
  }

  #main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 290px;
  }
}
