body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: url("https://i.imgur.com/oQ6ErOL.jpeg");
  background-size: auto auto;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 16px;
}

h1,
p {
  margin: 1em auto;
  text-align: center;
}

p {
  padding-bottom: 1em;
  font-size: 20px;
}

form {
  min-width: 300px;
  max-width: 500px;
  margin: 1vh auto;
  padding: 20px;
  background-color: #1b1b3280;
}

fieldset {
  border: none;
  padding: 1rem 0;
  border-bottom: 3px solid #3b3b4f;
}

label {
  display: block;
  margin: 1rem 0 0.5rem 0;
}

input,
textarea,
select {
  width: 100%;
  min-height: 2em;
}

input,
textarea {
  background-color: #ffffff;
  border: 1px solid #1b1b3280;
}

.inline {
  width: unset;
  margin: 0 1em 0 0;
  vertical-align: middle;
}

input[type="submit"] {
  display: block;
  width: 50%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #1b1b32;
  border-color: #ffffff;
  color: #ffffff;
  min-width: 300px;
}
